[submodule "zsh/antigen"]
	path = zsh/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "zsh/fzf"]
	path = zsh/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/Vundle.vim
